<p-toast></p-toast>



<div class="card  " >
    <p-table [value]="mensalistas" [tableStyle]="{ 'min-width': '50rem' } " class="p-4" >
      
      <ng-template pTemplate="header">
        <tr>
          <th>id</th>
          <th>Nome</th>
          <th>Carro</th>
          <th>Placa</th>
          <th>Vencimento Plano</th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-mensalista>
        <tr>
          <td>{{ mensalista.id }}</td>
          <td>{{ mensalista.nome }}</td>
          <td>{{ mensalista.veiculo }}</td>
          <td>{{ mensalista.placa }}</td>
          <td>   </td>
        </tr>
      </ng-template>
      
    </p-table>
  </div>
  